- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = 'favicon.ico';
- var path         = '.'

doctype html
html(lang="ja")
  head
    include ./include/_head

  body
    //- include ./include/_header
    main
      section.FV.pc-only
        .FV__bg
          .FV__bg-text
            p FULL-TIME
            p EMPLOYEE
            p CLERICAL
            p WORK
          .FV__bg-img
            img(src="./img/page/FV-bg.png", alt="安定した高収入で始めるオフィスワークなら「アニューズ」")
        .FV__wrapper
          .FV__contents
            img(src="./img/page/FV-1.png", alt="事務未経験の方が8割以上 正社員×事務職という選択肢")
          .FV__contents
            img(src="./img/page/FV-2.png", alt="ポイント1 安定収入 月給制なので安心！ (雇用期間の定めもなし) ポイント2 業界最高水準の月給 時間外も全額支給 (試用期間も変更ありません) ポイント3 福利厚生とサポートも充実 70種類以上の学習コンテンツと研修付き (社会保険ももちろん完備)")
          .FV__contents.reg
            a(href="#contact").reg-btn
              .reg-btn__text
                p.reg-btn__text-sub 登録はWebでかんたん！来社不要！
                p.reg-btn__text-main かんたん60秒！今すぐ無料で登録する
      section.FV-sp.sp-only
        .FV-sp__catch.minisp-only
          img(src="./img/page/FV-sp1.png", alt="事務未経験の方が8割以上 正社員×事務職という選択肢")
        .FV-sp__bg-img.minisp-only
          img(src="./img/page/FV-SPbg.png", alt="安定した高収入で始めるオフィスワークなら「アニューズ」 ポイント1 安定収入 月給制なので安心！ (雇用期間の定めもなし) ポイント2 業界最高水準の月給 時間外も全額支給 (試用期間も変更ありません) ポイント3 福利厚生とサポートも充実 70種類以上の学習コンテンツと研修付き (社会保険ももちろん完備)")
        .FV-sp__bg-img.tb-only
          img(src="./img/page/FV-tbbg.png", alt="安定した高収入で始めるオフィスワークなら「アニューズ」")
        .FV-sp__contents
          a(href="#contact").reg-btn
            .reg-btn__text
              p.reg-btn__text-sub 登録はWebでかんたん！来社不要！
              p.reg-btn__text-main かんたん60秒！今すぐ無料で登録する
      section.about
        .about__bg-1.pc-only
          img(src="./img/page/bg-pink1.png", alt="")
        .about__bg-2.pc-only
          img(src="./img/page/bg-pink2.png", alt="")
        .about__bg-3.pc-only
          img(src="./img/page/bg-blue2.png", alt="")
        .about__bg-4.pc-only
          img(src="./img/page/bg-cian2.png", alt="")
        .sec-top
          h2.sec-ttl.dark-blue ABOUT
          p.sec-sub アニューズとは？
        .about__contents
          .about__contents-img
            img(src="./img/logo/logo.png", alt="そうキャリ SOUGO CAREER OPTION")
          p.about__contents-caption.font16
            |  アニューズは全国169拠点を構える総合人材会社<br>
            | 「綜合キャリアオプション」の<br>
            | 事務職に強いお仕事のサポートサービスです。
        p.about-caption.font12 ※当社と期間制限のない雇用契約を結んだ上で、弊社取引先にてご就業いただきます（無期雇用派遣）
        .about__text.font16
          p.about__text-content 
            | 常時300件以上の最新の事務の求人があり、あなたにあったお仕事を厳選し紹介します。<br>
            | 未経験OKのお仕事も多くなっておりますので、まずはお気軽にご相談ください。
      section.worries
        .worries__bg-1.pc-only
          img(src="./img/page/bg-pink3.png", alt="")
        .worries__bg-2.pc-only
          img(src="./img/page/bg-pink3.png", alt="")
        .worries__bg-3.pc-only
          img(src="./img/page/bg-pink1.png", alt="")
        .worries__bg-4.pc-only
          img(src="./img/page/bg-pink2.png", alt="")
        .sec-top
          h2.sec-ttl.pink WORRIES
          p.sec-sub 働き方でこんなお悩みないですか？
        .worries__contents
          .worries__contents__item
            img(src="./img/page/human-1.png", alt="")
            p.worries__contents-text.font16
              |  事務の経験はないが<br>
              |  チャレンジしてみたい
          .worries__contents__item
            img(src="./img/page/human-2.png", alt="")
            p.worries__contents-text.font16
              |  土日休みがほしい
          .worries__contents__item
            img(src="./img/page/human-3.png", alt="")
            p.worries__contents-text.font16
              |  自分に合った仕事で長く働きたい
      section.solution
        .sec-top
          h2.sec-ttl.dark-blue SOLUSION
          p.sec-sub そうキャリの「アニューズ」を選ぶ<br>3つの理由
        .solution__contents
          .solution__contents__item
            p.solution__contents-num.dark-blue 01
            h3.solution__contents-ttl 
              |  そうキャリの「アニューズ」なら<br>
              |  事務未経験の方が8割以上！
            img(src="./img/page/illust-1.png", alt="")
            p.solution__contents-text.font14 有名企業・優良企業の事務系のお仕事多数！
            .solution__contents-labels
              .solution__contents-label
                span 一般事務
                span 営業事務
                span 一般事務
              .solution__contents-label
                span データ入力
                span 人事・総務
              .solution__contents-label
                span コールセンター
                span IT系
            p.solution__contents-text.font12.aln-left 募集の少ない大手有名企業の一般事務も働くチャンスあり！就業先と仕事内容はあなたのキャリアにとても重要だからこそ、豊富なラインナップを持つアニューズがおすすめ。あなたに合う就業先のお仕事を紹介します。
          .solution__contents__item
            p.solution__contents-num.dark-blue 02
            h3.solution__contents-ttl 
              |  土日休みを希望など<br>
              |  自分に合った条件で仕事を探せる！
            img(src="./img/page/illust-3.png", alt="")
            p.solution__contents-text-center.font14 年間休日120日以上！
            .solution__contents-labels
              .solution__contents-label
                span 完全週休2日制（土・日）
                span 有給休暇
              .solution__contents-label
                span GW休暇
                span 夏季休暇
                span 祝日
              .solution__contents-label
                span 年末年始休暇
                span 慶弔休暇
            p.solution__contents-text.font12.aln-left ライフスタイルに合わせた働き方、キャリアを生かした仕事など、皆さまが大切にしたい条件を叶えます。
          .solution__contents__item
            p.solution__contents-num.dark-blue 03
            h3.solution__contents-ttl 
              |  「アニューズ」なら<br>
              |  あなたの働きやすい環境を準備！
            img(src="./img/page/illust-2.png", alt="")
            h4.solution__contents-subttl 無料相談窓口
            p.solution__contents-text.font12.aln-left 働く皆さまのフォローを行う専任の担当者（キャリアカウンセラー）として、無料でチャットやお電話での相談が可能です。
            h4.solution__contents-subttl 家族や子育てにも嬉しい、充実の休暇制度
            p.solution__contents-text.font12.aln-left 
              | 産前・産後休暇 ☆取得実績あり！<br>
              | 育児休暇 ☆取得実績あり！
            h4.solution__contents-subttl マイページでのEラーニング
            p.solution__contents-text.font12.aln-left 
              | 無料で学べるオンラインコースも70種類以上受講可能<br>
              | OA、マナー、情報セキュリティなどオンラインで無料で受講可能です。
      section.reason
        .reason__bg-1.pc-only
          img(src="./img/page/bg-blue1.png", alt="")
        .reason__bg-2.pc-only
          img(src="./img/page/bg-cian1.png", alt="")
        .reason__bg-3.pc-only
          img(src="./img/page/bg-cian2.png", alt="")
        .reason__bg-4.pc-only
          img(src="./img/page/bg-blue2.png", alt="")
        .sec-top
          h2.sec-ttl.dark-blue REASON
          p.sec-sub 
            |選ばれている理由がたくさんあります！<br>
            |安心して就業できる! サポート体制
        .reason__contents
          .reason__contents__item
            p.reason__contents__item-caption.font16 収入もアップしたい...
            img(src="./img/page/human-5.png", alt="")
            h3.reason__contents__item-ttl 高月給なお仕事
            p.reason__contents__item-text.aln-left.font12 アニューズでは、他社と比較しても高月給なお仕事になっています。事務職で収入アップを目指している方も「アニューズ」をぜひご活用ください。
          .reason__contents__item
            p.reason__contents__item-caption.font16 待遇が心配...
            img(src="./img/page/human-6.png", alt="")
            h3.reason__contents__item-ttl 
              | 安心の<br>
              | 待遇有給休暇・社会保険
            p.reason__contents__item-text.aln-left.font12 各種祝い金など一定の要件を満たした方は社会保険に加入できます。有給休暇は、勤務日数に応じて取得可能、半日休暇（半休）の取得も可能です。定期健康診断では、婦人科オプションも受診できます。その他、結婚祝い金および出産祝い金、忌引き休暇など、働きやすい待遇、働きやすい待遇を用意しています。
          .reason__contents__item
            p.reason__contents__item-caption.font16 もしも困ったことがあったら...
            img(src="./img/page/human-4.png", alt="")
            h3.reason__contents__item-ttl 専用相談窓口で安心
            p.reason__contents__item-text.aln-left.font12 「初めての職場でトラブルや困ったことがあったらどうしよう...？」「就業中にハラスメントがあったらどうしたらいいの...？」、少し相談しにくいようなことも安心して相談できる専用窓口を設置しております。

      section.voice
        .sec-top
          h2.sec-ttl.dark-blue VOICE
          p.sec-sub 
            | そんな「アニューズ」から満足の声が多数<br>
            | 私が「アニューズ」で働く理由
        .voice__contents
          .voice__contents__item
            .voice__contents__item__wrapper
              img(src="./img/page/human-7.png", alt="")
              .voice__contents__item__box
                p.voice__contents__item-name.font12 先輩Aさん(前職 アパレル店員)
                h3.voice__contents__item-ttl.font16
                  | サービス業からオフィスワークへ、<br>
                  | 土日休みでプライベートも充実
            p.voice__contents__item-text サービス業での経験のみでオフィスワークのお仕事をしたことがありませんでした。「入力」の仕事を紹介され、最初は自分にできるか不安でしたが、フォロー担当の方が親切にフォローしてくださり、すぐに慣れることができました。土日に休める仕事に就けてよかったです。
          .voice__contents__item
            .voice__contents__item__wrapper
              img(src="./img/page/human-8.png", alt="")
              .voice__contents__item__box
                p.voice__contents__item-name.font12 先輩Bさん(前職 営業職)
                h3.voice__contents__item-ttl.font16
                  | 安定の月給制度、<br>
                  | しかも高月給なお仕事環境
            p.voice__contents__item-text 事務職で働きたい私にとって、なかなか良いお仕事が見つかりませんでした。IT業界の事務職の仕事を紹介されましたが、就業もすぐに決まり、またお休みなどの調整がつけやすく、私にとってとても働きやすい環境です。事務職のお仕事としては月給は高いです。
          .voice__contents__item
            .voice__contents__item__wrapper
              img(src="./img/page/human-9.png", alt="")
              .voice__contents__item__box
                p.voice__contents__item-name.font12 先輩Cさん(前職 介護職)
                h3.voice__contents__item-ttl.font16
                  | 未経験でもマニュアルや<br>
                  | 先輩のサポートがあるから安心
            p.voice__contents__item-text 事務職での経験がなく、最初はとても不安でした。やってみたら、マニュアルがしっかりしており、パソコンで作業したり必要情報を入力するだけですので、すぐにできるようになりました。今では、新しいことを覚えることが楽しいです。
      section.faq
        .sec-top
          h2.sec-ttl.dark-blue FAQ
          p.sec-sub よくある質問
        .faq__contents
          .accordion.js-accordion
            .accordion-item
              h3.accordion-header.font18 Q 未経験でも働けるお仕事はありますか
              .accordion-content.font16 
                p.accordion-text 未経験から始められる事務職やオフィスワークが多数ございます。アニューズでは8割以上の方が事務未経験からスタートしていますのでご安心ください。
            .accordion-item
              h3.accordion-header.font18 Q 研修制度はありますか​
              .accordion-content.font16 
                p.accordion-text 専属の研修担当がいますので、未経験でもしっかりとフォローさせていただきます。無料でEラーニングも受講できますので自己学習も可能です。
            .accordion-item
              h3.accordion-header.font18 Q 給与の前払い制度はありますか​
              .accordion-content.font16 
                p.accordion-text 当社では働いた分の給与を給与支払い日前にお支払いする【CRIA（クリア）】という制度がございます。​【CRIA（クリア）】は給与日よりも前に、1日の所定時間分の７割をお支払することができる制度です。残りの分は給与日にお支払致します。<br>※当社規定による １日分から申請可能ですが、１回につき事務手数料429円をご負担頂きます。​
            .accordion-item
              h3.accordion-header.font18 Q 就業スタート日が１か月以上先ですが大丈夫ですか。​
              .accordion-content.font16 
                p.accordion-text 現在、お仕事中の方でもご登録いただいている方は多数いらっしゃいます。ご希望の就業スタート日に合わせたお仕事紹介をさせていただきます。
      section.contact#contact
        .contact__contents
          .sec-top
            h2.sec-ttl.dark-blue Contact
            p.sec-contact.font16 登録はWebでかんたん！来社不要！
            p.sec-sub 
              | かんたん60秒！<br class="sp-only">
              | 今すぐ無料で登録する
          form(method="post" action="").contact__contents__form
            .contact__contents__form-name.font14
              .contact__contents__form__label
                label(for="name") お名前
                span *
              input(type="text" placeholder="総合 莉愛" name="name")
            .contact__contents__form-furigana.font14
              .contact__contents__form__label
                label(for="name") ふりがな
                span *
              input(type="text" placeholder="そうごう りあ" name="furigana")
            .contact__contents__form-email.font14
              .contact__contents__form__label
                label(for="name") メールアドレス
                span *
              input(type="text" placeholder="info@abc.com" name="email")
              input(type="text" placeholder="確認のため、2度入力してください。" name="email")
            .contact__contents__form-phone.font14
              .contact__contents__form__label
                label(for="name") 電話番号
                span *
              input(type="text" placeholder="09012345678" name="phone")
            .contact__contents__form-address.font14
              .contact__contents__form__label
                label(for="name") 住所
              select(name="name")
                option(value="都道府県を選択") 都道府県を選択
                option(value="北海道") 北海道
                option(value="青森県") 青森県
                option(value="岩手県") 岩手県
                option(value="宮城県") 宮城県
                option(value="秋田県") 秋田県
                option(value="山形県") 山形県
                option(value="福島県") 福島県
                option(value="茨城県") 茨城県
                option(value="栃木県") 栃木県
                option(value="群馬県") 群馬県
                option(value="埼玉県") 埼玉県
                option(value="千葉県") 千葉県
                option(value="東京都") 東京都
                option(value="神奈川県") 神奈川県
                option(value="新潟県") 新潟県
                option(value="富山県") 富山県
                option(value="石川県") 石川県
                option(value="福井県") 福井県
                option(value="山梨県") 山梨県
                option(value="長野県") 長野県
                option(value="岐阜県") 岐阜県
                option(value="静岡県") 静岡県
                option(value="愛知県") 愛知県
                option(value="三重県") 三重県
                option(value="滋賀県") 滋賀県
                option(value="京都府") 京都府
                option(value="大阪府") 大阪府
                option(value="兵庫県") 兵庫県
                option(value="奈良県") 奈良県
                option(value="和歌山県") 和歌山県
                option(value="鳥取県") 鳥取県
                option(value="岡山県") 岡山県
                option(value="広島県") 広島県
                option(value="山口県") 山口県
                option(value="徳島県") 徳島県
                option(value="香川県") 香川県
                option(value="愛媛県") 愛媛県
                option(value="高知県") 高知県
                option(value="福岡県") 福岡県
                option(value="佐賀県") 佐賀県
                option(value="長崎県") 長崎県
                option(value="熊本県") 熊本県
                option(value="大分県") 大分県
                option(value="宮崎県") 宮崎県
                option(value="鹿児島県") 鹿児島県
                option(value="沖縄県") 沖縄県
              input(type="text" placeholder="市区町村(例：千代田区神田神保町)" name="address")
              input(type="text" placeholder="番地・ビル名(例：1-3-5)" name="address")
            .contact__contents__form-text.font14
              .contact__contents__form__label
                label(for="name") お問い合わせ
              textarea(name="text", cols="30", rows="10" placeholder="ご要望やご質問がございましたらこちらにご記載ください。") 
            .contact__contents__form-terms
              .contact-terms__textArea
                p
                | お客様よりお寄せ頂く個人情報は、お問合せ・ご要望へのご回答、情報提供に限り使用させていただきます。<br>当社の「
                a(href="https://sougo-career.co.jp/privacypolicy/") 個人情報の取り扱いについて
                | 」をお読みのうえ、下記の「同意する」にチェックをつけたうえでご利用ください。
            .contact__consent
              input(type="checkbox" required)
              p.contact__consent__text 個人情報の取り扱いに同意する
            a(href="./confirm.html").reg-btn
              input(type="submit" value="送信する").reg-btn__text.font18

    //- include ./include/_footer
    include ./include/_script