main {
    width: 100%;
}

.sec {
    &-top {
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: "Noto-sansJP", sans-serif;
    }
    &-ttl {
        font-size: 40px;
        font-family: 'Kiwi Maru', serif;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
        letter-spacing: 5px;
    }
    &-sub {
        font-size: 28px;
        font-weight: bold;
        
        @include sp {
            font-size: 18px;
        }
    }
    &-contact {
        width: fit-content;
        position: relative;
        top: 0;
        width: fit-content;
        margin: 10px auto 20px;
        font-weight: bold;
        padding: 5px 10px;
        color: #{$white};
        background: #{$pink};
        &::after {
            content: "";
            position: absolute;
            top: 95%;
            left: 50%;
            margin-left: -15px;
            border: 8px solid transparent;
            border-top: 13px solid #{$pink};
        }
        @include sp {
            width: 100%;
            font-size: 10px;
        }
    }
}

.dark-blue {
    color: #{$dark-blue};
}

.pink {
    color: #{$pink};
}

.aln-center {
    text-align: center;
}

.aln-left {
    text-align: left;
}

.font20 {
    font-size: 20px;
    font-family: "Noto-sansJP", sans-serif;
    @include sp {
        font-size: 14px;
    }
}

.font18 {
    font-size: 18px;
    font-family: "Noto-sansJP", sans-serif;
    @include sp {
        font-size: 14px;
    }
}

.font16 {
    font-size: 16px;
    font-family: "Noto-sansJP", sans-serif;
}

.font14 {
    font-size: 14px;
    font-family: "Noto-sansJP", sans-serif;
}

.font12 {
    font-size: 12px;
    font-family: "Noto-sansJP", sans-serif;
}

.FV {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #{$bg-blue};
    z-index: 0;
    &__bg {
        width: 100%;
        position: absolute;
        z-index: 1;
        &-text {
            position: inherit;
            top: 20px;
            left: 20px;
            font-size: 64px;
            font-family: "Noto-sansJP", sans-serif;
            font-weight: bold;
            color: rgb(199, 235, 249);
            & p {
                line-height: 75px;
            }
        }
        &-img {
            position: inherit;
            right: 0;
            & img {
                height: 100vh;
            }
        }
    }
    &__wrapper {
        width: 50%;
        position: relative;
        top: 50%;
        left: 80px;
        z-index: 10;
        transform: translateY(-50%);
    }
    &__contents {
        margin: 0 0 30px;
        & img {
            width: 100%;
        }
    }
    &-sp {
        position: relative;
        &__bg {
            position: absolute;
            width: 100%;
            @include tb {
                width: 90%;
                left: 50%;
                transform: translate(-50% ,0);
            }
            &-img {
                position: inherit;
                top: 120px;
                right: 0;
                @include tb {
                    top: 150px;
                }
            }
        }
        &__catch {
            position: absolute;
            width: 100%;
            margin: auto;
            @include tb {
                width: 80%;
                left: 50%;
                transform: translate(-50% ,0);
            }
        }
        &__wrapper {
            width: 100%;
            position: absolute;
            bottom: 8%;
        }
        &__contents {
            width: 90%;
            margin: 20px auto;
            & img {
                width: 100%;
            }
            &__item {
                width: 100%;
                margin: auto;
                @include tb {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }
}

.about {
    position: relative;
    padding: 100px 0;
    &__bg-1 {
        width: 15%;
        position: absolute;
        top: -5%;
        left: 0;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-2 {
        width: 15%;
        position: absolute;
        top: -5%;
        right: 0%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-3 {
        width: 15%;
        position: absolute;
        bottom: -5%;
        right: 0%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-4 {
        width: 15%;
        position: absolute;
        bottom: -5%;
        left: 0%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__contents {
        max-width: 1024px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
            width: 50%;
            & img {
                width: 80%;
                margin-left: auto;
                @include sp {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            @include sp {
                width: 90%;
            }
        }
        &-caption {
            width: 50%;
            margin-left: 20px;
            font-weight: bold;
            @include sp {
                text-align: center;
                font-size: 13px;
                width: 90%;
                margin: 20px 0 0 ;
            }
        }
        @include sp {
            flex-direction: column;
        }
    }
    &-caption {
        width: 60%;
        text-align: center;
        margin: 20px auto;
        @include sp {
            width: 90%;
        }
    }
    &__text {
        width: 60%;
        padding: 30px 0;
        text-align: center;
        margin: auto;
        background-color: #F0F7FF;
        @include sp {
            width: 90%;
            font-size: 14px;
            padding: 30px 10px;
            text-align: left;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.worries {
    position: relative;
    padding: 50px 0;
    background: #FAEEF4;
    z-index: 0;
    &__bg-1 {
        width: 12%;
        position: absolute;
        top: 8%;
        left: 5%;
        z-index: 1;
        & img {
            width: 100%;
        }
    }
    &__bg-2 {
        width: 5%;
        position: absolute;
        top: 10%;
        right: 5%;
        z-index: 1;
        & img {
            width: 100%;
        }
    }
    &__bg-3 {
        width: 15%;
        position: absolute;
        bottom: -5%;
        right: 0%;
        z-index: 1;
        & img {
            width: 100%;
        }
    }
    &__bg-4 {
        width: 15%;
        position: absolute;
        bottom: -5%;
        left: 0%;
        z-index: 1;
        & img {
            width: 100%;
        }
    }
    &__contents {
        max-width: 1024px;
        margin: 50px auto;
        text-align: center;
        display: flex;
        &__item {
            border-radius: 10px;
            margin: 0 15px;
            padding: 20px 15px;
            background-color: #{$white};
            & img {
                width: 80%;
                margin: auto;
            }
            @include sp {
                margin: 15px 0;
            }
        }
        &-text {
            font-weight: bold;
            margin: 20px 0 0;
        }
        @include sp {
            width: 90%;
            margin: 20px auto;
            flex-direction: column;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.solution {
    position: relative;
    padding: 50px 0;
    background: #{$bg-light-blue};
    z-index: 5;
    &__contents {
        max-width: 1024px;
        margin: 30px auto;
        display: flex;
        text-align: center;
        &__item {
            background-color: #{$white};
            width: calc(100%/3);
            padding: 20px 15px;
            margin: 0 10px;
            border-radius: 10px;
            & img {
                width: 75%;
                margin: 15px auto;
            }
            @include sp {
                width: 100%;
                margin: 10px 0;
            }
        }
        &-num {
            font-size: 28px;
            font-weight: bold;
        }
        &-ttl {
            font-size: 14px;
            font-weight: bold;
        }
        &-subttl {
            width: fit-content;
            margin: 15px 0 5px;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            color: #{$dark-blue};
            border-bottom: solid 2px #{$dark-blue};
        }
        &-labels {
            margin: 20px 0;
            & span {
                margin: 5px;
                padding: 5px 10px;
                font-size: 14px;
                font-weight: bold;
                background-color: #{$dark-blue};
                color: #{$white};
                border-radius: 5px;
            }
        }
        &-label {
            margin: 10px 0;
        }
        @include sp {
            width: 90%;
            margin: 20px auto;
            flex-direction: column;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.reason {
    position: relative;
    padding: 50px 0;
    background-color: #{$light-grey};
    z-index: 1;
    &__bg-1 {
        width: 20%;
        position: absolute;
        top: -10%;
        left: -5%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-2 {
        width: 20%;
        position: absolute;
        top: -10%;
        right: 0%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-3 {
        width: 15%;
        position: absolute;
        bottom: 0%;
        right: 0%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__bg-4 {
        width: 20%;
        position: absolute;
        bottom: 0%;
        left: -5%;
        z-index: -1;
        & img {
            width: 100%;
        }
    }
    &__contents {
        max-width: 1024px;
        margin: 30px auto;
        display: flex;
        text-align: center;
        &__item {
            background-color: #{$white};
            width: calc(100%/3);
            padding: 20px 15px;
            margin: 0 10px;
            border-radius: 10px;
            &-caption {
                position: relative;
                width: fit-content;
                font-weight: bold;
                padding: 5px 10px;
                margin: auto;
                color: #{$white};
                background-color: #{$dark-grey};
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -15px;
                    border: 8px solid transparent;
                    border-top: 8px solid #{$dark-grey};
                }
            }
            &-ttl {
                font-size: 24px;
                font-weight: bold;
                color: #{$dark-blue};
                margin: 10px 0;
            }
            & img {
                width: 50%;
                margin: 20px auto;
            }
            @include sp {
                width: 100%;
                margin: 10px 0;
            }
        }
        @include sp {
            width: 90%;
            margin: 20px auto;
            flex-direction: column;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.voice {
    padding: 50px 0;
    &__contents {
        max-width: 1024px;
        margin: 50px auto;
        display: flex;
        &__item {
            width: calc(100%/3);
            margin: 0 10px;
            &__wrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                & img {
                    width: 20%;
                }
            }
            &-ttl {
                font-weight: bold;
                color: #{$dark-blue};
            }
            &-text {
                position: relative;
                width: fit-content;
                font-weight: bold;
                padding: 20px;
                margin: 30px auto;
                color: #{$black};
                background-color: #{$bg-light-blue};
                border-radius: 5px;
                &::after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: 13%;
                    border: 15px solid transparent;
                    border-bottom: 20px solid #{$bg-light-blue};
                    @include sp {
                        left: 10%;
                    }
                }
            }
            @include sp {
                width: 100%;
                margin: 15px auto;
            }
        }
        @include sp {
            width: 90%;
            margin: 30px auto;
            flex-direction: column;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.faq {
    padding: 50px 0;
    background-color: #{$bg-light-blue};
    &__contents {
        max-width: 1024px;
        margin: 50px auto;
        @include sp {
            width: 90%;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.accordion-item {
    position: relative;
    margin: 20px 0;
    &::after {
        height: 20px;
        position: absolute;
        content: '';
        border: solid 6px #000;
        border-color: #{$white} transparent transparent;
        display: inline-block;
        right: 2%;
        top: 50%;
        transition: transform 0.3s ease;
        @include sp {
            right: 4%;
        }
    }
    &.active::after {
        top: 10%;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        transition: transform 0.3s ease;
        @include sp {
            top: 3%;
        }
    }
}

.accordion-header {
    color: #{$white};
    font-weight: bold;
    background-color: #{$dark-blue};
    padding: 15px 10px;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #{$white};
}

.accordion-text {
    padding: 15px;
}

.accordion-item.active .accordion-content {
    max-height: 100%; /* 修正: 適切な高さに調整せず、100%に設定する */
}

.contact {
    padding: 50px 0;
    background-color: #{$bg-dark-blue};
    &__contents {
        max-width: 1024px;
        margin: 50px auto;
        padding: 30px 0;
        border-radius: 10px;
        background-color: #{$light-grey};
        .sec-top {
            background-color: #{$light-grey};
        }
        &__form {
            width: 600px;
            margin: auto;
            &-name,
            &-furigana,
            &-email,
            &-phone,
            &-address {
                display: flex;
                flex-direction: column;
                margin: 10px 0;
                & input {
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 13px;
                    border: solid 1px #{$white-grey};
                    color: #{$grey};
                    border-radius: 3px;
                }
                & select {
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 13px;
                    border: solid 1px #{$white-grey};
                    color: #{$black};
                    border-radius: 3px;
                }
            }
            &-email {
                & input {
                    margin-bottom: 10px 0;
                }
            }
            &-terms {
                margin: 20px 0;
                & a {
                    border-bottom: solid 1px #{$black};
                }
            }
            &-text {
                & textarea {
                    width: 100%;
                    padding: 10px;
                    height: 200px;
                    border: solid 1px #{$white-grey};
                    @include sp {
                        height: 100px;
                    }
                }
            }
            &__label {
                display: flex;
                margin-bottom: 10px;
                & label {
                    font-weight: bold;
                }
                & span {
                    color: red;
                    margin: 0 8px;
                }
            }
            @include sp {
                width: 90%;
            }
        }
        @include sp {
            width: 90%;
        }
    }
    &__consent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        &__text {
            margin: 0 15px;
        }
    }
    @include sp {
        padding: 40px 0;
    }
}

.confirm {
    height: auto;
    padding: 50px 0;
    background-color: #{$bg-dark-blue};
    &__contents {
        width: 1024px;
        padding: 20px 0;
        margin: auto;
        border-radius: 10px;
        background-color: #{$white};
        text-align: center;
        &-pink {
            display: inline;
            font-size: 16px;
            color: #{$pink};
            font-weight: 700;
            border-bottom: solid 2px #{$pink};
            margin: 20px 0;
        }
        &__wrapper {
            width: 600px;
            margin: auto;
            &-box {
                margin: 50px 0;
            }
            @include sp {
                width: 90%;
            }
        }
        &__textarea {
            display: flex;
            text-align: left;
            margin: 30px 0;
            &-ttl {
                width: 30%;
                font-weight: bold;
                @include sp {
                    width: 40%;
                }
            }
            &-text {
                width: 70%;
                @include sp {
                    width: 60%;
                }
            }
        }
        @include sp {
            width: 90%;
        }
    }
}